MY Personal AI Assistant/🤖Contact Agent.json
{
  "name": "🤖Contact Agent",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appAs3023DbIOR6OK",
          "mode": "list",
          "cachedResultName": "Jarvis Data",
          "cachedResultUrl": "https://airtable.com/appAs3023DbIOR6OK"
        },
        "table": {
          "__rl": true,
          "value": "tblKMIrKCI3ZwsU9q",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appAs3023DbIOR6OK/tblKMIrKCI3ZwsU9q"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -464,
        304
      ],
      "id": "e6a77d95-2bf7-4b92-9acb-c9635bda8b1b",
      "name": "Get Contacts",
      "credentials": {
        "airtableTokenApi": {
          "id": "HLoOGF7LqrBvRJQc",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appAs3023DbIOR6OK",
          "mode": "list",
          "cachedResultName": "Jarvis Data",
          "cachedResultUrl": "https://airtable.com/appAs3023DbIOR6OK"
        },
        "table": {
          "__rl": true,
          "value": "tblKMIrKCI3ZwsU9q",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appAs3023DbIOR6OK/tblKMIrKCI3ZwsU9q"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $fromAI(\"name\") }}",
            "email": "={{ $fromAI(\"emailAddress\") }}",
            "phoneNumber": "={{ $fromAI(\"phoneNumber\") }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -304,
        304
      ],
      "id": "a4bdfbca-e307-4872-9886-34325939c89a",
      "name": "Add or Update Contact",
      "credentials": {
        "airtableTokenApi": {
          "id": "HLoOGF7LqrBvRJQc",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a contact management assistant. Your responsibilities include looking up contacts, adding new contacts, or updating a contact's information.\n\n**Contact Management**  \n   - Use \"Get Contacts\" to retrieve contact information. \n   - Use \"Add or Update Contact\" to store new contact information or modify existing entries. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -528,
        80
      ],
      "id": "b916b62b-7932-41e9-a9e5-3571e1463dd2",
      "name": "Contact Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "e45bdb51-28ec-4cb3-b63c-b9f04e837c0a",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "An error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        192
      ],
      "id": "7050fed6-5188-4435-9168-3b440cddc055",
      "name": "Try Again"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -736,
        80
      ],
      "id": "c7015032-b9a5-4ec0-b3f2-5c8b4205fc91",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -672,
        288
      ],
      "id": "921bf7d4-28be-46a5-be6f-7476ec8cce91",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "wvhs9XfvlaDySeGg",
          "name": "Groq account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get Contacts": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add or Update Contact": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contact Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Contact Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f27908f8-1fb8-49ae-83b4-0d6e88290bdd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1798b12ac81d75507801de3455ae72421e876ac2f4bd5a4455e9e00f468538ba"
  },
  "id": "lD4dkQErul0EeiC5",
  "tags": []
}